@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './variables.scss';
@import './components/layout/Navbar.scss';
@import './components/common/Buttons.scss';
@import './components/home/HomePage.scss';
@import './components/home/QRCard.scss';
@import './components/home/UserCard.scss';

html{
    font-size: 16px;
}
body{
    font-family: var(--regular) !important;
}

@media (min-width: 1025px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 1279px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1680px) {
    html {
        font-size: 18px;
    }
}