@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './variables.scss';
@import './components/common/Buttons.scss';
@import './components/layout/Navbar.scss';
@import './components/layout/SideMenu.scss';
@import './components/home/HomePage.scss';
@import './components/home/QRCard.scss';
@import './components/home/UserCard.scss';
@import './components/home/Products.scss';
@import './components/home/ProductCard.scss';
@import './components/form/FormPage.scss';

html {
    font-size: 16px;
}

body {
    font-family: var(--regular) !important;
}

.no-scroll {
    position: fixed;
    overflow: hidden;
    height: 100%;
}

@media (min-width: 1025px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 1279px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1680px) {
    html {
        font-size: 18px;
    }
}