.layout {
    background-color: $website-bg;
    min-height: 100vh;
    position: relative;

    .navbar-component {
        background-color: $white-color;
        padding-inline: $padding-inline-mobile;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4rem;
        overflow: hidden;

        .navbar-left-side {
            display: flex;
            gap: 3rem;
            align-items: center;
            height: 100%;

            .logo-menu-container {
                display: flex;
                gap: 1rem;

                .logo-container {
                    position: relative;
                    width: 6.5rem;
                    height: 2.5rem;
                }
            }

            ul {
                display: none;
                gap: 3rem;
                height: 100%;
                align-items: center;

                li {
                    height: 100%;

                    a {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        color: $grey-color;
                        font-size: 1.15rem;
                        position: relative;
                        overflow: hidden;
                        transition: .25s all;
                        font-family: var(--bold);

                        &::after {
                            content: "";
                            position: absolute;
                            border-radius: 8px 8px 0px 0px;
                            background: $red-color;
                            bottom: 0;
                            width: 0;
                            height: 6px;
                            transition: .25s all;
                        }

                        &.active {
                            color: $red-color;

                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .navbar-right-side {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
                cursor: pointer;
            }

            .line {
                display: none;
                height: 60%;
                width: 1px;
                background-color: $sub-orange-color;
            }

            .locale-section {
                height: 100%;
                display: flex;
                align-items: center;
                gap: .75rem;
                display: none;

                span {
                    font-family: var(--bold);
                }

                .line {
                    height: 40%;
                    width: 1px;
                    background-color: $sub-grey-color;
                }
            }

            .common-button {
                display: none;
            }
        }
    }
}

@media (min-width:1025px) {
    .layout {
        .navbar-component {
            padding-inline: $padding-inline-desktop;

            .navbar-left-side {
                .menu-icon {
                    display: none;
                }

                ul {
                    display: flex;
                }
            }

            .navbar-right-side {
                gap: 1.25rem;

                .line {
                    display: flex;
                }

                .locale-section {
                    display: flex;
                }

                .common-button {
                    display: flex;
                }
            }
        }
    }
}